/* Ensure the body does not overflow */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100%;     /* Make sure body height is 100% of the viewport */
}

/* Set background image for the home screen */
.background-container {
    background-image: url('../images/home_screen_image.jpg');
    background-size: cover;    /* Ensure the image covers the entire screen */
    background-position: center;
    background-repeat: no-repeat; /* Prevent repeating */
    width: 100vw;  
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Style the start button */
.start-button {
    padding: 20px 50px; 
    font-size: 24px; 
    color: rgba(255, 255, 255, 0.9); 
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2px solid rgba(255, 255, 255, 0.8); 
    border-radius: 12px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold; 
}


/* Hover effect for the button */
.start-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
