/* General page layout */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif; /* You can change the font for a more modern look */
}

/* Flex container for sidebar and map */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling with gradient background */
.sidebar {
    width: 300px;
    background: linear-gradient(135deg, #ff6f61, #de4463); /* Gradient background */
    padding: 20px;
    color: white; /* Text color */
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
    font-weight: bold; /* Make sidebar text bold for better contrast */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffebcd; /* Light contrasting color for headings */
}

.sidebar label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffebcd; /* Slightly off-white color */
}

.sidebar input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2); /* Light transparent input background */
    color: #fff;
}

.sidebar input::placeholder {
    color: #ffe4e1; /* Soft placeholder text color */
}

/* Button with gradient and bold hover */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #36d1dc, #5b86e5); /* Gradient for button */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

button:hover {
    background: linear-gradient(135deg, #5b86e5, #36d1dc); /* Invert gradient on hover */
    transform: translateY(-3px); /* Lift effect on hover */
}

/* Map container */
#map {
    flex-grow: 1;
    height: 100vh;
}

/* Popup content styling */

.popup-content {
    max-height: 400px; /* Adjusted height */
    overflow-y: auto;  /* Keeps the scrollbar for overflow */
    width: 300px; 
}

.match-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.match-table td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.match-table td strong {
    font-size: 16px;
    color: #0077cc;
}

.match-table span {
    font-weight: bold;
    color: #555;
}

/* Pagination buttons */
.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #005fa3;
}

.info-btn {
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}